*.pyc
*.mmdb

.coverage
.coverage.*

session.shelve*

.DS_Store

/.vscode/settings.json

net.ca
fs.data

/.env
/.venv
/.claude

/dist
/build
/htmlcov
/reports
/src/netius.egg-info
/scripts/build/builds
